<div class="flex flex-col min-h-screen gap-4 max-lg:mt-[var(--mini-header-height)]">
    <div class="text-2xl font-bold text-center pt-7">
      All products
    </div>
  
    <!-- filter / sort < lg -->
    <div class="flex justify-between gap-2">
      <div class="flex-1 lg:hidden relative">
        <i (click)="isShowFilter()" class="pi pi-filter p-2" style="font-size: 1rem"></i>
        <p-drawer
          blockScroll="true"
          header="Filter" [(visible)]="isShow" position="bottom" [style]="{ 'min-height': '40vh' }">
          @if (isShow) {
            <app-filter-panel
              [menuName]="'filter'"
              [menuFilter]="menuFilter" ></app-filter-panel>
          }
        </p-drawer>
      </div>

      <div class="flex-1 lg:hidden relative text-right">
        <i
          (click)="isShowSort()"
          class="pi pi-sort p-2" style="font-size: 1rem"></i>
        <p-drawer
          blockScroll="true"
          header="Sort" [(visible)]="showSort" position="bottom" [style]="{ 'min-height': '40vh' }">

            <app-filter-panel
              [panelId]="'drawer-sort'"
              [menuName]="'sort'"
              (sortChanged)="onSortChanged($event)"
              (closeDrawer)="showSort = false"
              [menuFilter]="sortFilter" ></app-filter-panel>
        </p-drawer>
      </div>
    </div>
  
    <div class="grid grid-cols-1 lg:grid-cols-[210px_1fr] gap-3.75">
      <!-- filter / sort > lg -->
      <div class="hidden lg:block">
        @if (!isShow) {
          <app-filter-panel
            [menuName]="'filter'"
            [panelId]="'drawer-filter'"
            [menuFilter]="menuFilter"
          ></app-filter-panel>
        }
        @if (!showSort) {
          <app-filter-panel
            [menuName]="'sort'"
            [panelId]="'drawer-sort'"
            (sortChanged)="onSortChanged($event)"
            [menuFilter]="sortFilter"
        ></app-filter-panel>
        }
      </div>
      <div class="min-h-screen rounded">
        <div class="grid grid-rows-[1fr_auto] gap-2">

            <div class="min-h-screen">
              <!-- cards -->
                <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-2 lg:gap-x-3.75 gap-y-7">
                  @if (!(pagedProducts && pagedProducts.length > 0)) {
                    <p>There are no products to display.</p>
                  } @else {
                      @for (product of pagedProducts; track product.id) {
                        <div class="shadow-md hover:shadow-xl">
                          <app-product-card [product]="product"></app-product-card>
                        </div>
                      }
                  }
                </div>
            </div>
        
            <div class="mt-4">
              <app-paginator
                [rows]="itemsPerPage"
                [totalRecs]="totalRecords"
                [rowPerOptions]="rowPerOptions"
                (pageChange)="onPageChange($event)"></app-paginator>
            </div>
          </div>
      </div>
    </div>
</div>
  
