<p-table #dt2
    [value]="data"
    [columns]="columns"
    [tableStyle]="{ 'min-width': '35rem' }"
    [paginator]="paginator"
    [rows]="rows"
    [sortMode]="sortable ? 'multiple' : 'single'"
    [globalFilterFields]="globalFilterFields"
    [expandedRowKeys]="expandedRows"
    [dataKey]="dataKey"
    >

    <ng-template #caption>
        @switch (captionMode) {
            @case ('none') {}
            @case ('search') {
                <div class="flex">
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input
                            pInputText type="text" 
                            (input)="onGlobalFilter($event)"
                            placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            }
            @case ('expand') {
                <div class="flex flex-wrap justify-end gap-2">
                    <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
                    <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
                </div>
            }
        }
    </ng-template>

    <!-- Header -->
    <ng-template pTemplate="header">
        @if (!headerTemplate) {
            <tr>
            @for (col of columns; track col.field) {
                @if (!col.sortable) {
                    <th>
                        {{ col.header }}
                    </th>                
                } @else {
                    <th [pSortableColumn]="col.field">
                        <div class="flex items-center gap-2">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field" />
                        </div>
                    </th>
                }
            }
            </tr>
        } @else {
            <ng-container *ngTemplateOutlet="headerTemplate; context: { columns: columns }"></ng-container>
        }
    </ng-template>
  
    <!-- Body -->
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        @if (!rowTemplate) {
            <tr>
            @for (col of columns; track col.field) {

                <td class="text-(--p-surface-600)">
                    @if (isImagePath(rowData[col.field])) {
                        <img [src]="rowData[col.field]" alt="Image" style="max-width: 40px; max-height: 40px; border-radius: 4px;" />
                    } @else {
                        {{ rowData[col.field] }}
                    }
                </td>
            }
            </tr>
        } @else {
            <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: rowData, columns: columns, expanded: expanded }"></ng-container>
        }

    </ng-template>
    
    <ng-template p-template='expandedrow' let-rowData let-exRowData>
        @if (captionMode === 'expand' && exRowTemplate) {
            <tr>
                <td class="text-(--p-surface-600)">
                    <ng-container *ngTemplateOutlet="exRowTemplate; context: { $implicit: rowData }"></ng-container>
                </td>
            </tr>
        }
    </ng-template>

    <!-- Footer -->
    <ng-template pTemplate="footer">
        @if (footerTemplate) {
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        }
    </ng-template>
      
</p-table>
  
