<!-- <div class=" mt-[var(--admin-header-height)] bg-(--p-surface-100)">
    <div class="flex flex-col lg:flex-row min-h-[calc(100vh-var(--admin-header-height))]"> -->
        <!-- @if (isDesktop$ | async) {
            <div class="lg:w-[280px] fixed top-[var(--admin-header-height)] left-0 h-[calc(100dvh-var(--admin-header-height))] bg-(--p-surface-100) p-7">
                <app-admin-sidebar></app-admin-sidebar>
            </div>
        } -->
        
        <div class="lg:ml-[280px] flex-1 py-7 lg:pr-7 max-lg:px-7">
            <div class="flex flex-col xl:flex-wrap gap-7">
                <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-7">
                    @for (item of summaryCard; track item.title) {
                    <div class="bg-(--p-surface-0) p-7 rounded-md">
                        
                            <div class="flex justify-between mb-4">
                                <div>
                                    <span class="text-(--p-surface-500)">{{ item.title }}</span>
                                    <div class="font-medium text-xl">
                                        {{ item.data }}
                                    </div>
                                </div>
                                <div class="flex items-center justify-center bg-(--p-primary-100) dark:bg-blue-400/10 rounded-md" style="width: 2.2rem; height: 2.2rem;">
                                    <i [ngClass]="[item.icon, 'text-(--p-primary-600)']"></i>
                                </div>
                            </div>
                            @if (item.subtitle.length >= 0) {
                                <span class="text-(--p-primary-color)">{{ item.subtitle[0] }}</span>
                                <span class="text-(--p-surface-500) text-sm ml-2">{{ item.subtitle[1] }}</span>
                            }
                        </div>
                    }
                  
                </div>
                <div class="grid grid-cols-1 xl:grid-cols-2 gap-7">
                    <!-- Table data -->
                    <div class="flex flex-col min-w-0 bg-(--p-surface-0) p-7 rounded-md gap-2">
                        <span class="text-lg font-semibold">Recent Sales</span>

                        <app-table
                            [data]="state.reccentSales()"
                            [columns]="cartColumns"
                            [paginator]="true"
                            [rows]="5">
                        </app-table>
                    </div>
                
                    <!-- Chart data -->
                    <div class="bg-(--p-surface-0) p-7 rounded-md">
                        <span class="text-lg font-semibold">Revenue Stream</span>
                            <div class="h-[400px] pt-2">
                                <app-bar-chart
                                    [options]="basicOptions"
                                ></app-bar-chart>
                            </div>
                    </div>

                    <div class="bg-(--p-surface-0) p-7 rounded-md w-full">
                        <app-best-selling></app-best-selling>
                    </div>

                    <div class="bg-(--p-surface-0) p-7 rounded-md">
                        <app-notifycation-list></app-notifycation-list>
                    </div>
                </div>
                
            </div>
        </div>
    <!-- </div>

</div> -->
