<p-drawer [(visible)]="visibleMiniCart"
    blockScroll="true" position="right"
    (onHide)="onDrawerHide()">
    
    <ng-template #header>
        <div class="flex items-center gap-2">
            <span class="font-bold text-xl">Your mini cart</span>
        </div>
    </ng-template>

    <div>
        @if (!cartService.isEmpty()) {

            <ng-template #customHeader let-item>
                <a (click)="goProductDetail(item.id)"
                    class="cursor-pointer">
                    <img
                      class="block xl:block mx-auto rounded-border w-full md:w-12 rounded"
                      [src]="`assets/images/products/img/id${item.id}-thumb.jpg`"
                      [alt]="item.name"
                    />
                    <p-badge
                        [value]="cartService.getItemQuantity(item.id)"
                        class="absolute top-0 left-0 sm:left-1"
                        badgeSize="small"
                    />              
                </a>
            </ng-template>
            
            <app-dataview
                [headerTemplate]="customHeader"
                [nameTemplate]="customName"
                [buttonTemplate]="customButton"
            ></app-dataview>

            <ng-template #customName let-item>
                <a (click)="goProductDetail(item.id)"
                    class="cursor-pointer">
                    <div class="mt-2 line-clamp-2">{{ item.name }}</div>
                </a>
            </ng-template>

            <ng-template #customButton let-item>
                <p-button
                (click)="cartService.removeItem(item.id)"
                icon="pi pi-trash"
                class="flex-start sm:flex-initial whitespace-nowrap ml-auto text-(--p-surface-500)"
                [raised]="true"
                severity="secondary"
                [size]="'small'"
            />
            </ng-template>
        } @else {
            <app-empty-cart></app-empty-cart>
        }
    </div>

    <ng-template #footer>
        @if (!cartService.isEmpty()) {
            <div class="flex flex-col items-center gap-2">
                <div class="flex justify-between w-full mb-3">
                    <span>Total:</span>
                    <span class="font-semibold text-xl">
                        {{ cartService.totalPrice() *1000 | number:'1.0-0' }}₫
                    </span>
                </div>
                <button
                    [routerLink]="['/checkout/confirmation']"
                    pButton label="Go to checkout"
                    class="w-full" severity="secondary" [rounded]="true" [raised]="true">
                </button>
                <button
                    (click)="goCartPage()" 
                    pButton label="Go to cart page" [rounded]="true" [raised]="true"
                    class="w-full">
                </button>
            </div>
        }
    </ng-template>
</p-drawer>
