<div id="galeria">
    <p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
        [showItemNavigatorsOnHover]="true"
        [shouldStopAutoplayByClick]="true"
        [autoPlay]="true" [circular]="true" [responsiveOptions]="responsiveOptions" [numVisible]="3" [containerStyle]="{ 'max-width': 'inherit' }">
        <ng-template #item let-item>
            <img 
                (error)="onImageError($event)"
                (click)="navigateTo(item.routerLink)"
                [src]="item.itemImageSrc" style="width: 100%; display: block; cursor: pointer; aspect-ratio: 47 / 18;" />
        </ng-template>
        <ng-template #thumbnail let-item>
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </ng-template>
    </p-galleria>
</div>
